@model Clc.Weixin.Dto.WxIdentifyDto

@{
    ViewBag.Title = "查看任务身份信息";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}

<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
    <div class="weui-media-box__hd2">
        <img class="weui-media-box__thumb" src="data:image/png;base64, @Model.Workers[0].Photo" alt="无照片">
    </div>
    <div class="weui-media-box__bd">
        <h3 class="weui-media-box__title">交接员一: @Model.Workers[0].Name @Model.Workers[0].Cn</h3>
        <h3 class="weui-media-box__title">ID: @Model.Workers[0].AdditiveInfo</h3>
    </div>
</a>
<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
    <div class="weui-media-box__hd2">
        <img class="weui-media-box__thumb" src="data:image/jpg;base64, @Model.Workers[1].Photo" alt="无照片">
    </div>
    <div class="weui-media-box__bd">
        <h3 class="weui-media-box__title">交接员二: @Model.Workers[1].Name @Model.Workers[1].Cn</h3>
        <h3 class="weui-media-box__title">ID: @Model.Workers[1].AdditiveInfo</h3>
    </div>
</a>
<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
    <div class="weui-media-box__hd2">
        <img class="weui-media-box__thumb" src="data:image/jpg;base64, @Model.Vehicle.Photo" alt="无照片">
    </div>
    <div class="weui-media-box__bd">
        <h3 class="weui-media-box__title">车牌：@Model.Vehicle.License</h3>
        <h3 class="weui-media-box__title">车号: @Model.Vehicle.Cn</h3>
    </div>
</a>