@using Clc.Fields
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/WorkerFiles/Hrq.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/WorkerFiles/Hrq.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="easyui-layout" fit="true">
    <!-- BEGIN of main -->
    <div data-options="region:'center', border:false">
        <div id="tb">
            <form id="fmSearch">
                <a name="search" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true">查询</a>
                &nbsp;大队：<input id="depot" name="depotId" class="easyui-combobox" style="width: 100px">
                &nbsp;岗位：<input id="post" name="postId" class="easyui-combobox" style="width: 100px">
                &nbsp;在职：<input id="status" name="status" class="easyui-combobox" style="width: 100px">
            </form>
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb" pagination="true" pageSize="20" sortName="fileCn"
            fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" >
            <thead>
                <tr>
                    <th field="fileCn" width="80">档案号</th>
                    <th field="workerDepotName" width="80">所属</th>
                    <th field="workerName" width="80">姓名</th>
                    <th field="workerPostName" width="80">岗位</th>
                    <th field="status" width="80">在职</th>
                </tr>
            </thead>
        </table>
    </div>
    <div data-options="region:'east', split:true, title:'卡片信息', collapse:true, border:false" style="min-width:120px; width:720px">
    <form id="fm" class="easyui-form" method="post" novalidate>
        <table class="edit-tbl2">
            <input id="id" name="id" type="hidden">
            <tr>
                <th><label for="depot">所属：</label></th>
                <td><input name="workerDepotName" readonly="true" class="easyui-combobox" style="width: 100%"></td>
                <th><label for="worker">人员：</label></th>
                <td><input name="workerName" class="easyui-combobox" data-options="required:true" style="width: 220px"></td>
            </tr>
            <tr>
                <th><label for="fileCn">文件编号：</label></th>
                <td><input name="fileCn" class="easyui-textbox" data-options="required:true, validType:'length[1, @WorkerFile.MaxFileCnLength]'" style="width: 100%"></td>
                <th><label for="hiredate">入职日期：</label></th>
                <td><input name="hiredate" class="easyui-datebox" data-options="required:true" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="sex">性别：</label></th>
                <td><input id="sex" name="sex" class="easyui-combobox" data-options="required:true" style="width: 100%"></td>
                <th><Label for="endValidity">身份证有效期:</Label></th>
                <td><input name="endValidity" class="easyui-datebox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="birthday">出生日期:</label></th>
                <td><input name="birthday" class="easyui-datebox" style="width: 100%"></td>
                <th><Label for="ethnicity">民族:</Label></th>
                <td><input name="ethnicity" class="easyui-textbox" data-options="validType:'length[1, @WorkerFile.MaxEthnicityLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="nativeplace">籍贯:</Label></th>
                <td><input name="nativeplace" class="easyui-textbox" data-options="validType:'length[1, @WorkerFile.MaxNativeplaceLength]'" style="width: 100%"></td>
                <th><Label for="residenceAddress">户籍地址:</Label></th>
                <td><input name="residenceAddress" class="easyui-textbox" data-options="validType:'length[1, @WorkerFile.MaxAddressLength]'" style="width: 100%"></td>
            <tr>
                <th><Label for="policeStation">户籍派出所:</Label></th>
                <td><input name="policeStation" class="easyui-textbox" data-options="validType:'length[1, @WorkerFile.MaxAddressLength]'" style="width: 100%"></td>
                <th><Label for="address">现住地址:</Label></th>
                <td><input name="address" class="easyui-textbox" data-options="validType:'length[1, @WorkerFile.MaxAddressLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="politicalStatus">政治面貌：</label></th>
                <td><input id="politicalStatus" name="politicalStatus" class="easyui-combobox" data-options="required:true" style="width: 100%"></td>
                <th><label for="education">文化程度：</label></th>
                <td><input id="education" name="education" class="easyui-combobox" data-options="required:true" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="school">毕业院校:</Label></th>
                <td><input name="school" class="easyui-textbox" style="width: 100%"></td>
                <th><Label for="stature">身高:</Label></th>
                <td><input name="stature" class="easyui-numberbox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="weight">体重:</Label></th>
                <td><input name="weight" class="easyui-numberbox" style="width: 100%"></td>
                <th><Label for="maritalStatus">婚姻状况:</Label></th>
                <td><input id="maritalStatus" name="maritalStatus" class="easyui-combobox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="contact">联系电话:</Label></th>
                <td><input name="contact" class="easyui-textbox" style="width: 100%"></td>
                <th><Label for="licenseType">驾驶证类型:</Label></th>
                <td><input id="licenseType" name="licenseType" class="easyui-combobox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="introductory">介绍人信息:</Label></th>
                <td><input name="introductory" class="easyui-textbox" style="width: 100%"></td>
                <th><Label for="insurance">购买保险:</Label></th>
                <td><input name="insurance" class="easyui-textbox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="workLicenseCn">上岗证编号:</Label></th>
                <td><input name="workLicenseCn" class="easyui-textbox" style="width: 100%"></td>
                <th><Label for="certificateCn">保安资格证:</Label></th>
                <td><input name="certificateCn" class="easyui-textbox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="armLicenceCn">持枪证编号:</Label></th>
                <td><input name="armLicenceCn" class="easyui-textbox" style="width: 100%"></td>
                <th><Label for="ceteficationRecord">证件记录:</Label></th>
                <td><input name="ceteficationRecord" class="easyui-textbox" multiline="true" style="width: 100%;height:60px"></td>
            </tr>
            <tr>
                <th><Label for="jobChangeRecord">岗位变动:</Label></th>
                <td><input name="jobChangeRecord" class="easyui-textbox" multiline="true" style="width: 100%;height:80px"></td>
                <th><Label for="mobilityRecord">人事调动记录:</Label></th>
                <td><input name="mobilityRecord" class="easyui-textbox" multiline="true" style="width: 100%;height:80px"></td>
            </tr>
            <tr>
                <th><Label for="trainingRecord">培训记录:</Label></th>
                <td><input name="trainingRecord" class="easyui-textbox" multiline="true" style="width: 100%;height:80px"></td>
                <th><Label for="rewardPunishRecord">奖惩记录:</Label></th>
                <td><input name="rewardPunishRecord" class="easyui-textbox" multiline="true" style="width: 100%;height:80px"></td>
            </tr>
            <tr>
                <th><Label for="status">在职:</Label></th>
                <td><input name="status" class="easyui-combobox" style="width: 100%"></td>
                <th><Label for="remark">备注:</Label></th>
                <td><input name="remark" class="easyui-textbox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="quitFileCn">离职档案编号：</label></th>
                <td><input name="quitFileCn" class="easyui-textbox" data-options="validType:'length[1, @WorkerFile.MaxFileCnLength]'" style="width: 100%"></td>
                <th><label for="quitdate">离职日期：</label></th>
                <td><input name="quitdate" class="easyui-datebox" style="width: 100%"></td>
            </tr>
         </table>
    </form>
</div>
</div>