@using Clc.Fields
@{
    Layout = "~/Views/Shared/_CrudLayout.cshtml";
}

@section customScript
{
    <script type="text/javascript">
        crud.dgDefault.name = 'Workplaces';
        crud.dgDefault.sortName = 'name';
        crud.dgDefault.columns = [[
            { field: "name", title: "名称", width: 80 },
            { field: "workRoles", title: "工作角色列表", width: 80 },
            { field: "articleTypeList", title: "领用物品列表", width: 100 },
            { field: "shareDepotList", title: "共享中心列表", width: 100 },
            { field: "minDuration", title: "最短班次小时", width: 80 },
            { field: "maxDuration", title: "最长班次小时", width: 80 },
            { field: "doorIp", title: "门禁IP地址", width: 80 },
            { field: "cameraIp", title: "视频IP地址", width: 80 },
            { field: "askOpenLead", title: "当班查询提前时间(分钟)", width: 80 },
            { field: "askOpenDeadline", title: "申请开门截止(分钟)", width: 80 },
            { field: "askOpenStyle", title: "申请开门方式", width: 80 },
        ]];
        crud.parentField = 'depotId';
        crud.children = true;
    </script>
}

@section endScript
{
    <script type="text/javascript">
        crud.startfunction = function () {
            abp.services.app.type.getComboItems('AskOpenStyle').done(function(data) {
                crud.setComboBox('#askOpenStyle', data);
            });

            abp.services.app.field.getComboItems('Depot').done(function(depots) {
                crud.setComboBox('#depotId', depots);
                var treeData = [];
                depots.forEach( function (val, index, arr) {
                    treeData.push({ id: val.value, text: val.displayText });
                });
                $('#tree').tree({
                    data: treeData,
                    onSelect: function (node) {
                        crud.parentId = node.id;
                        $('#datagrid').datagrid({
                            url: crud.dgDefault.name + '/GetPagedData/' + 'DepotId=' + node.id
                        });
                    }
                });
            });
        };

        crud.endfunction = function () {
            var title = abp.setting.get('VI.DepotTitleName');
            $('#cc').layout('panel', 'west').panel({title:title});
        };
    </script>
}

@section headHtml
{
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'west', split:true, minWidth:80, width:120">
            <ul id="tree" class="easyui-tree" style="margin-top:6px"></ul>
        </div>
        <div data-options="region:'center', border:false">
}
@section footHtml
{
        </div>
    </div>
}

@*弹窗*@
<div id="dlg" class="easyui-dialog" closed="true" modal="true" buttons="#dlg-buttons" align="center" style="width: 400px; padding: 10px;">
    <form id="fm" class="easyui-form" method="post" novalidate>
        <table class="edit-tbl">
            <input id="id" name="id" type="hidden">
            <tr>
                <th><label for="depotId">所属：</label></th>
                <td><input id="depotId" name="depotId" readonly="true" class="easyui-combobox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="name">地点名称:</Label></th>
                <td><input name="name" class="easyui-textbox" data-options="required:true, validType:'length[1, @Workplace.MaxNameLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="workRoles">工作角色列表：</label></th>
                <td><input name="workRoles" class="easyui-textbox" data-options="required:true, validType:'length[2, @Workplace.MaxWorkRolesLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="articleTypeList">物品类型列表: </Label></th>
                <td><input name="articleTypeList" class="easyui-textbox", data-options="validType:'length[1, @Workplace.ArticleTypeListLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="shareDepotList">共享中心列表表: </Label></th>
                <td><input name="shareDepotList" class="easyui-textbox", data-options="validType:'length[1, @Workplace.ShareDepotListLength]'" style="width: 100%"></td>
            </tr>
            </tr>
            <tr>
                <th><label for="minDuration">最短班次小时：</label></th>
                <td><input name="minDuration" class="easyui-numberbox" data-options="required:true" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="maxDuration">最长班次小时：</label></th>
                <td><input name="maxDuration" class="easyui-numberbox" data-options="required:true" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="doorIp">门禁IP地址: </label></th>
                <td><input name="doorIp" class="easyui-textbox" data-options="validType:'length[8, @Workplace.IpAddressLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="cameraIp">视频IP地址: </label></th>
                <td><input name="cameraIp" class="easyui-textbox" data-options="validType:'length[8, @Workplace.IpAddressLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="askOpenLead">当班查询提前时间: </label></th>
                <td><input name="askOpenLead" class="easyui-numberbox" data-options="required: true" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="askOpenDeadline">申请开门截止时间: </label></th>
                <td><input name="askOpenDeadline" class="easyui-numberbox" data-options="required: true" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="askOpenStyle">申请开门方式: </label></th>
                <td><input id="askOpenStyle" name="askOpenStyle" class="easyui-combobox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
