@model Clc.Works.Dto.AffairWorkDto
@section Scripts
{
    <environment names="Development">
        <script src="~/js/winput.js" asp-append-version="true"></script>
        <script src="~/js/work.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Checkin/index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/work.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Checkin/index.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        var allowCardWhenCheckin = true;
        var status = '';        // '' 为 checkin
        var doorId = 0;
        var rowTask = {};

        function checkout(index) {
            abp.message.confirm('确认要签出吗?', '确认', function (r) {
                if (r) {
                    var row = $('#dg').datagrid('getRows')[index];
                    abp.services.app.work.checkout(row.workerId, work.me.today, work.me.depotId, work.me.affairId).done(function(ret) {
                        abp.notify.info("你已作任务签出");
                        $('#dg').datagrid('reload');
                    });
                }
            });
        }

        function fingerCheckin(index) {
            abp.notify.info('请将指纹放到指纹仪上');
            var row = $('#dg').datagrid('getRows')[index];
            var finger = window.parent.getFingerCode();
            if (finger != '') {
                abp.services.app.work.checkinByFinger(finger, row.workerId, work.me.today, work.me.depotId, work.me.affairId).done(function(ret) {
                    abp.notify.info(ret.item2);
                    if (ret.item1) 
                        $('#dg').datagrid('reload');
                });
            }
        };

        function askOpenTask(index) {
            if (status != '') return;   // important

            if (!work.validate()) return; 
            //if (work.me.altcheck) {
            //    abp.notify.error("帮验金库任务，不用申请开门", "", { positionClass : 'toast-top-center'} );
            //    return false;
            //};

            var row = $('#dgTask').datagrid('getRows')[index];
            status = 'askTask';
            rowTask = row;
            doorId = row.workplaceId;
 
            openConfirmDialog($('#dg').datagrid('getRows'));
        }

        function endTask(index) {
            var row = $('#dgTask').datagrid('getRows')[index];
            abp.message.confirm('确认要结束金库任务吗?', '确认', function (r) {
                if (r) {
                    abp.services.app.affair.setTaskTime(row.id, false).done(function () {
                        abp.notify.info("你已结束金库子任务");
                        showAffair();
                    });
                }
            });
        }

        function fingerConfirm (index) {
            abp.notify.info('请将指纹放到指纹仪上');
            var finger = window.parent.getFingerCode();
            if (finger != '') {
                abp.services.app.work.confirmByFinger(finger, cds[index].workerId).done(function(ret) {
                    if (ret.item1) {
                        abp.notify.info(ret.item2);
                        cds[index].confirmed = true;
                        confirms.innerHTML = createHTML();
                    }
                    else
                        abp.notify.error(ret.item2);
                });
            }
        }
        
        winput.matchWorker = function(rfid) {
            if (status == '' && !allowCardWhenCheckin) {
                abp.notify.error('系统设置为不允许刷卡验证');
                return;
            }

            // alert(rfid);
            if (status == '') {
                abp.services.app.work.checkinByRfid(rfid, work.me.today, work.me.depotId, work.me.affairId).done(function(ret) {
                    abp.notify.info(ret.item2);
                    if (ret.item1) 
                        $('#dg').datagrid('reload');
                });
            }
            else {
                rfidConfirm(rfid);
            }
        }

        // formatter
        function operator (val, row, index) {
            var htmlTag = '<a href="javascript:void(0)" onclick="fingerCheckin(' + index + ')">指纹验入</a>';
            htmlTag = htmlTag + '<span>&nbsp;&nbsp;&nbsp;</span>';
            htmlTag = htmlTag + '<a href="javascript:void(0)" onclick="checkout(' + index + ')">任务签出</a>';
            return htmlTag;
        };

        function operatorTask (val, row, index) {
            var htmlTag = '<a href="javascript:void(0)" onclick="askOpenTask(' + index + ')">申请</a>';
            htmlTag = htmlTag + '<span>&nbsp;&nbsp;&nbsp;</span>';
            htmlTag = htmlTag + '<a href="javascript:void(0)" onclick="endTask(' + index + ')">结束</a>';
            return htmlTag;
        };

        function showPhoto(val, row, index) {
            if (row.checkinTime && val) {
                return '<img src="data:image/jpg;base64, ' + val + '" style="width:100px;height:100px">'
            }
        }

    </script>
}

<div class="easyui-layout" fit="true">
    <div data-options="region:'north', split:true, border:false" style="min-height:120px; height:75%">
		<div class="easyui-layout" fit="true">
    		<div data-options="region:'east', title:'任务概要', split:true" style="width:320px">
    			<form id="fm" class="easyui-form" method="post" novalidate>
        			<table class="edit-tbl">
                        <input id="altcheck" type="hidden" value="@Model.AltCheck">
                        <input id="depotId" type="hidden" value="@Model.DepotId">
                        <input id="affairId" type="hidden" value="@Model.AffairId">
                        <input id="workplaceId" type="hidden" value="@Model.WorkplaceId">
            			<tr>
                			<th><label for="content">工作内容</label></th>
                			<td><input name="content" class="easyui-textbox" readonly style="width: 100%"  value="@Model.Content"></td>
            			</tr>
            			<tr>
                			<th><label for="workplaceName">工作地点</label></th>
                			<td><input name="workplaceName" class="easyui-textbox" readonly style="width: 100%"  value="@Model.WorkplaceName"></td>
            			</tr>
            			<tr>
                			<th><Label for="startTime">开始时间</Label></th>
                			<td><input name="startTime" class="easyui-textbox" readonly style="width: 100%" value="@Model.StartTime"></td>
            			</tr>
            			<tr>
                			<th><label for="endTime">结束时间</label></th>
                			<td><input name="endTime" class="easyui-textbox" readonly style="width: 100%" value="@Model.EndTime"></td>
            			</tr>
         			</table>
    			</form>
			</div>
    		<div data-options="region:'center'">
                <div id="tb">
                    任务日期: <input id="dd" class="easyui-datebox" style="width:120px" readonly value="@Model.Today">
                    <a name="reload" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true">刷新</a>
                    <a name="askOpen" href="javascript:void(0)" class="easyui-linkbutton" plain="true">申请开门</a>
                    <a name="askGuard" href="javascript:void(0)" class="easyui-linkbutton" plain="true">申请枪库门设防</a>
                    <a name="askVaultGuard" href="javascript:void(0)" class="easyui-linkbutton" plain="true">申请金库门设防</a>
                </div>
                <table id="dg" class="easyui-datagrid" toolbar="#tb"
                        fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true">
                    <thead>
                        <tr>
                            <th field="workerCn" width="80">人员编号</th>
                            <th field="workerName" width="80">人员姓名</th>
                            <th field="workRoleName" width="80">工作角色</th>
                            <th field="photoString" width="80" formatter="showPhoto">照片</th>
                            <th field="checkinTime" width="80" formatter="$.timeFormatter">验入时间</th>
                            <th field="lastAskDoor" width="80" formatter="$.timeFormatter">最近申请开门时间</th>
                            <th field="checkoutTime" width="80" formatter="$.timeFormatter">检出时间</th>
                            <th field="operator" width="100" formatter="operator">操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div data-options="region:'center'">
        <table id="dgTask" title="金库子任务" class="easyui-datagrid"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="startTime">
            <thead>
                <tr>
                    <th field="content" width="80">工作内容</th>
                    <th field="workplaceName" width="80">工作地点</th>
                    <th field="startTime" width="80">开始时间</th>
                    <th field="endTime" width="80">结束时间</th>
                    <th field="startTimeActual" width="80" formatter="$.timeFormatter">工作开始时间</th>
                    <th field="endTimeActual" width="80" formatter="$.timeFormatter">工作结束时间</th>
                    <!-- <th field="workplaceAskDeadline" width="100">最晚申请开门延时(分钟)</th> -->
                    <th field="operator" width="80" formatter="operatorTask">操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@*多人确认弹窗*@
<div id="dlgConfirm" class="easyui-dialog" title="卡或指纹确认" closed="true" modal="true" buttons="#dlg-buttons" align="center" style="height: 300px; width: 450px;">
    <div class="easyui-panel" fit="true">
        <ul id="confirms" class="article">
        </ul>
    </div>
</div>
<div id="dlg-buttons">
    <a name="wait" class="easyui-linkbutton" iconCls="icon-save" onclick="send(true)">等待用手机发送</a>
    <a name="send" class="easyui-linkbutton" onclick="send(false)">立即发送申请</a>
</div>

